<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>

<body>
    <%- include('nav.ejs') %>
    <div class="details content">
        <h2><%= blog.title %></h2>
        <div class="content">
         <p><%= blog.body %></p>
        </div>
        
     </div>
     <a class="delete" data-doc="<%= blog._id %>">Delete</a>

     <%- include('footer.ejs') %>
     <script>
        const del=document.querySelector('a.delete');
        del.addEventListener('click',(e)=>{
            const endpoint=`/blogs/${del.dataset.doc}`;
            fetch(endpoint,{
                method:'DELETE'
            })
            .then((response)=>response.json())
            .then((data)=>window.location.href=data.redirect)
            .catch((error)=>console.log(error));
        })
    </script>
</body>
</html>