<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>

<body>
    <%- include('nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blogs=>{ %>
                <a class="single" href="/blogs/<%= blogs.id%>">
                    <h3 class="title"><%= blogs.title%></h3>
                    <p class="snippet"><%= blogs.snippet%></p>
                </a>
            <%})%>
        <%}%>

    </div>
    <h1>node js learning series</h1>
    <%- include('footer.ejs') %>

</body>
</html>